
<div id = "row-one container">
  <div style = "text-align: center; padding: 10px;">
  <img src = "https://dummyimage.com/600x400/000/fff"> 
  </div>
  <div class="container text-center" >
    <div class="row align-items-center" style = "display: flex; padding: 50px;">
      <div class="col " >
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
      <div class="col">
        One of three columns
      </div>
    </div>
  </div>

</div> 